<div class="container">
  <h3 class="title">أختر الهيئه و الملف للرفع</h3>
  <div class="blue-bar"></div>
  <div class="card-container">
    <form [formGroup]="fileForm">
      <ul>
        <div class="grid-list">
            <li>
                <p-dropdown
                  formControlName="administration"
                  [options]="ministryAdministrationList"
                  [(ngModel)]="selectAdministration"
                  placeholder="Administration"/>
            </li>
            <li>
                <p-dropdown
                  formControlName="fileName"
                  [options]="administrationFileName"
                  [(ngModel)]="selectAdministration"
                  placeholder="File Name"/>
            </li>
        </div>

        <div class="grid-list">
          <li>
                    <!-- Start Date Input -->
            <label for="startDate">{{'Beginning Date'}}
              <i class="tooltip fa-solid fa-circle-info">
                <span class="tooltip-text">Select a start date</span>
              </i>
            </label>
            <div class="tooltip">
              <input id="startDate" formControlName="start_date" type="date"
                [ngClass]="{'is-valid': !fileForm.get('start_date')?.errors && fileForm.get('start_date')?.touched,
                'is-invalid': fileForm.get('start_date')?.errors && fileForm.get('start_date')?.touched }">
              <div class="tooltip-error"
                *ngIf="fileForm.get('start_date')?.errors && fileForm.get('start_date')?.touched">
                {{"Error, Please make sure to select a value"}}
              </div>
            </div>

          </li>

          <li>
                    <!-- End Date Input -->
            <label for="endDate">{{'End Date'}}
              <i class="tooltip fa-solid fa-circle-info">
                <span class="tooltip-text">End date must follow chronologically after the Start date</span>
              </i>
            </label>
            <div class="tooltip">
              <input id="endDate" formControlName="end_date" type="date"
              [disabled]="!fileForm.get('end_date')?.disabled"
              [ngClass]="{'is-valid': !fileForm.get('end_date')?.errors && fileForm.get('end_date')?.touched,
              'is-invalid': fileForm.get('end_date')?.errors && fileForm.get('end_date')?.touched }">
              <div class="tooltip-error"
                *ngIf="fileForm.get('end_date')?.errors && fileForm.get('end_date')?.touched || fileForm.get('end_date')?.errors?.['dateInvalid']">
                {{(fileForm.get('end_date')?.errors?.['dateInvalid'])?
                  (fileForm.get('end_date')?.errors?.['dateInvalid']):
                  "Error, Please make sure to select a value"}}
              </div>
            </div>

          </li>
        </div>

        <div class="grid-list">
          <li>
            <div class="errorMessage" [ngStyle]="fileForm.invalid && fileForm.touched ? { display: 'grid' } : { display: 'none' }">
              <span class="errorText">
                The File selected doesn't have the proper name
              </span>
            </div>
            <div *ngIf="fileForm.get('start_date')?.valid && fileForm.get('end_date')?.valid && fileForm.get('fileName')?.valid">
              <span style="font-size: 20px; margin: 0px 0px 3px 3px"> Select the folder to upload</span>
              <p-fileUpload
                mode="basic"
                chooseLabel="Select Folder"
                chooseIcon="pi pi-upload"
                name="demo[]"
                [maxFileSize]="1000000"
                (onSelect)="onSelect($event)" />
            </div>
          </li>
        </div>
      </ul>
    </form>

        <!-- Table Section (Hidden by Default, Shown on Button Click) -->
    <div class="container table-data">
      <ng-container>
        <table *ngIf="rows.length" class="styled-table">
          <thead>
            <tr>
              <th *ngFor="let header of headers">{{ header }}</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let row of rows">
              <td *ngFor="let cell of row">{{ cell }}</td>
            </tr>
          </tbody>
        </table>
      </ng-container>
    </div>
  </div>
</div>
